
<html>
  <body>
  <p>
  'ИВТ-41-16 Петров Д.С. <br> Бот для заучивания иностранных слов'<br>@Lab3Py_bot
  </p>
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="350px" height="350px" viewBox="0 0 350 350" enable-background="new 0 0 350 350" xml:space="preserve">  <image id="image0" width="350" height="350" x="0" y="0"
    xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAV4AAAFeAQAAAADlUEq3AAAABGdBTUEAALGPC/xhBQAAACBjSFJN
AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAd2KE6QAAAAHdElN
RQfkBAIMNTpzr38fAAABz0lEQVRo3u3aS5KDIBAGYFjlGB7Vq3kkD5AqBvpBg4q6GSBVP4spDF+c
RfNoIC68L18HDAwMDAwMDDwh3pyUVWo+uCW2SvkA/xwm0sL6GLGPlT19LeK1bgXui78cMsISS36k
WgvHBuobAXgezBF8h8NOfcPnrgI8HlMEl7c49Q3g2XCsEb4Zg/K4pj9xcZUXrHUrcFdsmUwdy4e0
Rx3wRNjlhLSFi0JjlbPcQwHuiyXZoeKLmk6vd3jZgSfA7qp4bTiMwV0/2+z1+S1LAB6GXbX9L757
nEUp2XG8wlKqq9ifVljgPpijqrgYuu4igvWEXG1CgMdijqBgLs9Yput2lgvcFWukc42/VmPaX+Zu
UUzX2gDcH/PaKFvBh0ymxBJf4DnwbkmMhfEC2xnPLhce3EFoxG/AA7ErlsrqnumE9a4jBN1uyrx7
NRUA98bVWD1jK+WtBz0Cj8J5vNntUnk4+rnD6VWW9tycuAJ3wuVi2MxFA19z2I3iXUIF3APb/eBp
CTxHsLxMDPVxOfDv4VSq0wDgwdjSGbtnamAZ4umz5j4FuDfWhLS8r2itg/LTDXmUbSTwEFxlMnaq
dh3BBuZ/tAFPj18VYGBgYGBgYOB/x39HU7AOp1Ym2QAAABx0RVh0Q29tbWVudABHZW5lcmF0ZWQg
Ynkgc3Rxci5ydaa4ArQAAAAldEVYdGRhdGU6Y3JlYXRlADIwMjAtMDQtMDJUMTI6NTM6NTgrMDM6
MDBs3eLiAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDIwLTA0LTAyVDEyOjUzOjU4KzAzOjAwHYBaXgAA
ACl0RVh0U29mdHdhcmUAc3Rxci5ydSAtIGZyZWUgcXIgY29kZSBnZW5lcmF0b3I4NRYnAAAAAElF
TkSuQmCC" />
</svg>
  </body>
</html>
